.card {
  height: 100%;
  border-radius: 0px;
  border: 10px;  
}
.card:hover{
  background-color: rgb(215, 213, 213);
}
#view-button, #oof-button{
  display: none;
  padding: 2vh 3vw;
}
.card:hover #view-button, .card:hover #oof-button {
  display: block;
}
.card-img {
  padding: 2vh;
  
}
.card-body {
  text-align: center;
  padding: 4vh 1vw;
}
.card-title {
  font-weight: bold;
  font-size: 18px;
}

#compare-price {
  text-decoration: line-through;
}
.badge, #view-button, #oof-button { 
  width: fit-content;
  border-radius: 0px !important;
  font-weight: 200;
  font-size: 1vw;
  border: 0px;
}
.badge, #view-button{
  background-color: #cf7068 !important;
}
#oof-button {
  background-color: grey;
  cursor: not-allowed;
}