@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.App,
select {
  background-color: #f7f7f7;
  font-family: "Abel", sans-serif;
}
#div-one,
#drop-down-header {
  display: flex;
  align-items: center;
}
#div-one {
  justify-content: space-between;
}
#page-description {
  margin: 0vh 6.5vw;
}
.drop-down {
  margin: 0vh 7vw 0vh 5vw;
  display: flex;
}
#heading {
  font-size: 45px;
  margin: 0;
}
.header {
  color: #8f8f8f;
  margin: 2vh 0vw;
}
.h-one {
  font-weight: 500;
  font-size: 20px;
  width: 50vw;
}
select {
  border: none;
  font-weight: bolder;
  font-size: 16px;
  min-width: 10vw;
}
.h-two {
  font-weight: bold;
  font-size: 13px;
}
#d-one {
  margin-right: 5vw;
}
